SPRING_DATASOURCE_URL=jdbc:postgresql://url/port/database
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
POSTGRES_PROFILE_ACTIVE=profile
JWT_SECRET=secret
CLOUDINARY_NAME=name
CLOUDINARY_KEY=key
CLOUDINARY_SECRET=secret